# Arquivos de configuração local - NUNCA ENVIE PARA O GIT
config.ts
.env
.env.*
!.env.example

# Dependências
node_modules

# Artefatos de build
dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de sistema
.DS_Store